body{
    background-color: #EBF3FB;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

.container{
    background-color: white;
    width: 500px;
    border-radius: 1rem;
    display: flex;
    align-items:center;
    flex-direction: column;
}

.message-container{
    width: 90%;
    margin: 1rem;
}

.title{
    font-size: 2rem;
    font-weight: 400;
    background-color: #3E6BD7;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
    height:8rem;
    border-radius:1rem 1rem 0 0 ;
}

.section-title{
    font-size: 1.2rem;
    margin: 0.8rem 0;
}

button{
    background-color: #3E6BD7;
    color: white;
    width:100%;
    padding: 0.4rem;
    border: 1px solid white;
    border-radius: 0.1rem;
}

button:hover{
    background-color: #224eb4;
}

.buttons{
    display: flex;
}

.decryption{
    width: 100%;
    border-radius: 0.4rem;
    border: 1px solid black;
    height: 5rem;
}

textarea{
    width:100%;
    resize: none;
}
